:local {
    .itemName{
        background-color: pink;
        text-align: center;
    }

    .itemCard {
        text-align: center;
        font-size: 1.5em;
    }

    .itemStock {
        text-align: center;
    }

    .img {
        height: auto;
        width: 100%;
    }

    .button {
        display: inline-block;
        font-size: 1.5em;
        padding: 12px;
        margin: 12px;
    }

    .buttons {
        text-align: center;
    }
}